<div class="row">

  <%= simple_form_for [@context, @task] do |f| %>

      <%= render partial: 'errors' %>
      <div class="controls offset2">
        <%= f.input :name, input_html: { class: 'span8 edit' }, placeholder: "name..." %>
      </div>
      <div class="controls offset2">
      <%= f.input :notes, input_html: { class: 'span8 edit', rows: 10 }, placeholder: "notes..." %>
      </div>
      <!--<div class="controls offset2">-->
        <!--<%= f.submit 'Save', class: "btn btn-small btn-success" %>-->
      <!--</div>-->
  <% end %>
  <div class="controls offset2">
  <% if @task.persisted? %>
    <button class="btn btn-small btn-success">Save</button>
    <%= button_to "Done", action: :defer, class: "btn btn-small btn-warning" %>
    <%= button_to "Defer", action: :defer, class: "btn btn-small btn-warning" %>
    <%= button_to "Delete", [@context, @task], method: :delete, class: "btn btn-small btn-warning" %>
    <%= button_to "New", new_context_task_path(@context), method: :get, class: "btn btn-small btn-warning" %>
  <% end %>
  </div>
</div>



<hr>


<div class="row">

  <form id="task">
    <div class="controls offset2">
      <input class="span8 edit" type="text" maxlength="52" placeholder="name...">
    </div>
    <div class="controls offset2">
      <textarea class="span8 edit" name="notes" id="" rows="10" placeholder="notes..."></textarea>
    </div>
  </form>
  <div class="controls offset2">
    <button class="btn btn-small btn-success">Done</button>
    <button class="btn btn-small btn-danger">Delete</button>
    <button class="btn btn-small btn-warning">Defer</button>
    <button class="btn btn-small btn-primary">New</button>
  </div>

</div>
