<div class="row task">
  <%= simple_form_for [@context, @task] do |f| %>

      <div class="controls offset2">
        <%= f.input :name, input_html: { class: 'span8 edit', autofocus: 'autofocus' }, placeholder: "name...", label: false %>
      </div>
      <div class="controls offset2">
        <%= f.input :notes, input_html: { class: 'span8 edit', rows: 10 }, placeholder: "notes...", label: false %>
      </div>
      <div class="controls offset2">
        <%= button_tag(type: 'submit', class: "btn btn-small", value: "Save", name: "form_action", title: "Save", "data-toggle" => "tooltip") do %>
            <i class="icon-save"></i>
        <% end %>

        <% if @task.persisted? %>
            <%= button_tag(type: 'submit', class: "btn btn-small", value: "Defer", name: "form_action", title: "Defer") do %>
                <i class="icon-circle-arrow-down"></i>
            <% end %>
            <%= button_tag(type: 'submit', class: "btn btn-small", value: "Next", name: "form_action", title: "Next") do %>
                <i class="icon-circle-arrow-right"></i>
            <% end %>
            <%= button_tag(type: 'submit', class: "btn btn-small", value: "Delete", name: "form_action", title: "Delete") do %>
                <i class="icon-trash"></i>
            <% end %>
            <%= button_tag(type: 'submit', class: "btn btn-small", value: "Done", name: "form_action", title: "Done") do %>
                <i class="icon-check"></i>
            <% end %>
            <%= button_tag(type: 'submit', class: "btn btn-small", value: "New", name: "form_action", title: "New") do %>
                <i class="icon-plus"></i>
            <% end %>
        <% else %>
            <%= link_to tasks_path, class: "btn btn-small", title: "Discard" do%>
                <i class="icon-remove"></i>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>
