<%= form_for [@context, @task] do |f| %>

    <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %></h2>

          <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <br>
    <%= f.submit "Save" %>
<% end %>

<% if @task.persisted? %>
    <%= button_to "Defer", action: :defer %>
    <%= button_to "Delete", [@context, @task], method: :delete %>
    <%= button_to "New", new_context_task_path(@context), method: :get %>
<% end %>
