<div class="row">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="dropdown">
          <% if @context %>
            <a href="#" class="dropdown-toggle">
              <%= "#{@context.name} (#{@context.tasks.size})" %>
              <b class="caret"></b>
            </a>
          <% end %>
          <% if @contexts %>
          <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
            <% @contexts.where.not(name: @context.name).each do |context| %>
            <li role="presentation">
              <%= link_to "#{context.name} (#{context.tasks.size})", current_context_path(context) %>
            </li>
            <% end %>
            <li class="divider" role="presentation"></li>
            <li role="presentation">
              <%= simple_form_for current_user.contexts.new do |f| %>
                  <%= f.input :name, label: false, placeholder: "new context" %>
              <% end %>
            </li>
          </ul>
          <% end %>
        </li>
      </ul>
      <ul class="nav pull-right">
        <% if @context %>
        <li>
          <%= link_to "Delete", current_user.current_context, method: :delete, confirm: "Are you sure? (all the context's tasks will be deleted too)", id: "delete_context", title: "Delete context" %>
        </li>
        <% end %>
        <li>
            <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to "Sign in", new_user_session_path %>
            <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
