<div class="row">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">
            <%= "#{current_user.current_context.name}" if current_user %>
            <b class="caret"></b>
          </a>
          <% if current_user %>
          <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
            <% current_user.contexts.where.not(name: @context.name).each do |context| %>
            <li role="presentation">
              <%= link_to "#{context.name}", current_context_path(context) %>
            </li>
            <% end %>
            <li class="divider" role="presentation"></li>
            <li role="presentation">
              <%= simple_form_for current_user.contexts.new do |f| %>
                <%= f.input :name, label: false, placeholder: "name..." %>
                  <%= button_tag(type: 'submit', class: "btn", style: "display: none", value: "Next", name: "form_action", title: "Next") do %>
                    Create context
                  <% end %>
              <% end %>
            </li>
          </ul>
          <% end %>
        </li>
      </ul>
      <ul class="nav pull-right">
        <% if user_signed_in? && current_user.current_context != current_user.default_context %>
        <li>
          <%= link_to "Delete", current_user.current_context, method: :delete, confirm: "Are you sure? (all the context's tasks will be deleted too)", id: "delete_context", title: "Delete context" %>
        </li>
        <% end %>
        <li>
            <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to "Sign in", new_user_session_path %>
            <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
