<!DOCTYPE html>
<html>
<head>

  <% if @task && @task.id %>
  <title>Focusd<%= ": #{truncate(@task.name.parameterize)}" %></title>
  <% else %>
  <title>Focusd</title>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
</head>
<body>
<style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
</style>

    <div class="container">
      <%= render "shared/navigation" %>
      <%= yield %>
    </div>
</body>
</html>
